.card {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #CCCCCC;
    padding: 10px;
}

.container {
    margin: auto;
    width: 400px;
}

.button {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border-style: none;
    margin-top: 3px;
}

.button-primary {
    background-color: #f5bc20;
}

.button-secondary {
    background-color: #f0c140;
}

.button-light {
    background-color: #f8d470;
}

/* hr {
    background-color: #CCCCCC;
    border: none;
} */

hr {
  width: 100%;
  height: 1px;
  background: #CCCCCC;
  border: none;
}