.menuWithCheckbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
}

.customCheckbox {
    display: flex;
    position: relative;
    cursor: pointer;

    /* hide origin checkbox */
    input {
        position: absolute;
        opacity: 0;
        right: 30px;
    }

    /* custom checkbox */
    .checkmark {
        height: 23px;
        width: 23px;
        border: 1px solid #CDCDCD;
        border-radius: 6px;
    }

    .checkmark:hover {
        border: 1px solid #BDBDBD;
    }

    .checkmark:active {
        /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18); */
        box-shadow: 0 4px 12px #2469F633;
        border: 1px solid #BDBDBD;
    }

    /* checked when the .custom-checkbox is selected */
    input:checked~.checkmark {
        background-color: #5087F8;
        border-color: #5087F8;
    }

    input:checked~.checkmark:hover {
        background-color: #2469F6;
        border-color: #2469F6;
    }

    input:checked~.checkmark:active {
        background-color: #5087F8;
        border-color: #5087F8;
    }

    /* create checked mark */
    .checkmark::after {
        content: "";
        position: absolute;
        display: none;
    }

    input:hover~.checkmark::after {
        display: block;
        width: 5px;
        height: 10px;
        margin: 2px 7px;
        border: solid #E3E3E3;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }

    input:active~.checkmark::after {
        display: block;
        width: 5px;
        height: 10px;
        margin: 2px 7px;
        border: solid #878787;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }

    input:checked~.checkmark::after {
        display: block;
        width: 5px;
        height: 10px;
        margin: 2px 7px;
        border: solid #FFFFFF;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
}
